@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --brandy-red: #854632;
    --dark-charcoal: #312E2C;
    --dark-raspberry: #7A284E;
    --eggshell: #F3E5D7;
    --snow: #FFF7FB;
    --wenge-brown: #5F564D;
    --white: #FFFFFF;
    --white-coffee: #E3DDD7;
}

.wrapper {
    background-color: var(--white);
    max-width: 736px;
    transition: all .4s ease;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: var(--wenge-brown);

    background-color: var(--eggshell);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 40px 32px;
}

.recipe-img {
    transition: all .4s ease;
}

.recipe-title {
    font-family: "Young Serif", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    color: var(--dark-charcoal);
    margin-bottom: 24px;
}

.recipe-preparation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--snow);
    border-radius: 12px;
    padding: 24px;
}

.preparation-time {
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: var(--dark-raspberry);
    margin-bottom: 16px;
}

ul, ol {
    padding-left: 24px;
}

li {
    padding-left: 16px;
}

ul li:not(:last-child), ol li:not(:last-child){
    margin-bottom: 8px;
}

ul, ol {
    margin: 0;
}

ul li::marker {
    /* content: "•"; */
    color: var(--brandy-red);
    font-size: 12px;
}

ol li::marker {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--brandy-red);
}

h3 {
    font-family: "Young Serif", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    color: var(--brandy-red);
    margin-bottom: 24px;
}

hr {
    border: 1px solid var(--white-coffee);
    width: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.nutrition {
    align-self: stretch;
}

.nutrition p {
    margin-bottom: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1.4px solid var(--white-coffee);
}

td {
    padding: 12px 32px;
    padding-right: 8px;
}

th {
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--brandy-red);
    text-align: left;
    padding-left: 8px;
    padding-right: 32px;
}

.nutrition-last-row {
    border-bottom: none;
}

.nutrition-last-row td {
    padding-bottom: 0;
}

.attribution { 
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black); 
    text-align: center; 
    background-color: rgb(240, 240, 240);
    padding: 8px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution p {
    font-size: 11px;
}

@media (min-width: 736px) {
    .wrapper {
        border-radius: 24px;
        margin: 123px 0;
        transition: all .4s ease;
    }

    figure {
        padding: 40px;
        padding-bottom: 0;
    }

    .recipe-img {
        border-radius: 12px;
        transition: all .4s ease;
    }

    main {
        padding: 40px;
    }

    .recipe-preparation {
        padding: 28px;
    }
}